html, body, ul {
    height: 100%;
    font-family: Helvetica;
    margin: 0;
    padding: 0
}

li {
    border-bottom: 1px solid #E0E0E0;
    font-size: 20px;
    font-weight: bold;
    list-style: none outside none;
    margin: 0;
    padding: 8px 0 8px 10px;
    position: relative;
    -webkit-transition: opacity .75s ease-in
}

#window {
    height: 100%;
    overflow: hidden;
}

#content {
    position: absolute;
    background: #fff;
    width: 100%
}

.pull-to-refresh, .refreshing {
    line-height: 50px;
    text-align: center;
}

.slider {
    height: 150px;
}

.slider img {
    width: auto;
    height: 150px;
}

.icon-sm {
    font-size: 12px;
}

.img-group {
    width: 100%;
    margin-bottom: 5px;
    overflow-x: auto;
    overflow-y: hidden;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 1px;
}

hr {
    display: block;
    padding: 0;
    border: 0;
    height: 0;
    border-top: 1px solid #eee;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.row {
    margin: 0px auto;
    overflow: hidden;
    width: 100%;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11 {
    position: relative;
    min-height: 1px;
    float: left;
}

.col-12 {
    width: 100%
}

.col-11 {
    width: 91.66666666666666%
}

.col-10 {
    width: 83.33333333333334%
}

.col-9 {
    width: 75%
}

.col-8 {
    width: 66.66666666666666%
}

.col-7 {
    width: 58.333333333333336%
}

.col-6 {
    width: 50%
}

.col-5 {
    width: 41.66666666666667%
}

.col-4 {
    width: 33.33333333333333%
}

.col-3 {
    width: 25%
}

.col-2 {
    width: 16.666666666666664%
}

.col-1 {
    width: 8.333333333333332%
}
