/*body, header {*/
/*margin-top: 20px;*/
/*}*/

/*.bar-nav {*/
/*background-color: #0395d7;*/
/*}*/
html, body, ul {
    height: 100%;
    font-family: Helvetica;
    margin: 0;
    padding: 0
}

li {
    border-bottom: 1px solid #E0E0E0;
    font-size: 20px;
    font-weight: bold;
    list-style: none outside none;
    margin: 0;
    padding: 8px 0 8px 10px;
    position: relative;
    -webkit-transition: opacity .75s ease-in
}

#window {
    height: 100%;
    overflow: hidden
}

#content {
    position: absolute;
    background: #fff;
    width: 100%
}

#pull_to_refresh, #refreshing {
    line-height: 50px;
    text-align: center
}

.slider {
    height: 150px;
}

.slider img {
    width: auto;
    height: 150px;
}

.icon-sm {
    font-size: 12px;
}

.overflow-x {
    overflow-x: auto;
}

hr {
    display: block;
    padding: 0;
    border: 0;
    height: 0;
    border-top: 1px solid #eee;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.row {
    margin: 0px auto;
    overflow: hidden;
    width: 100%;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11 {
    position: relative;
    min-height: 1px;
    float: left;
}

.col-xs-12 {
    width: 100%
}

.col-xs-11 {
    width: 91.66666666666666%
}

.col-xs-10 {
    width: 83.33333333333334%
}

.col-xs-9 {
    width: 75%
}

.col-xs-8 {
    width: 66.66666666666666%
}

.col-xs-7 {
    width: 58.333333333333336%
}

.col-xs-6 {
    width: 50%
}

.col-xs-5 {
    width: 41.66666666666667%
}

.col-xs-4 {
    width: 33.33333333333333%
}

.col-xs-3 {
    width: 25%
}

.col-xs-2 {
    width: 16.666666666666664%
}

.col-xs-1 {
    width: 8.333333333333332%
}
