.slider {
    height: 150px;
}

.slider img {
    width: auto;
    height: 150px;
}

.icon-sm {
    font-size: 12px;
}

.img-group {
    width: 100%;
    margin-bottom: 5px;
    overflow-x: auto;
    overflow-y: hidden;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 1px;
}

hr {
    display: block;
    padding: 0;
    border: 0;
    height: 0;
    border-top: 1px solid #eee;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.row {
    margin: 0px auto;
    overflow: hidden;
    width: 100%;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11 {
    position: relative;
    min-height: 1px;
    float: left;
}

.col-12 {
    width: 100%
}

.col-11 {
    width: 91.66666666666666%
}

.col-10 {
    width: 83.33333333333334%
}

.col-9 {
    width: 75%
}

.col-8 {
    width: 66.66666666666666%
}

.col-7 {
    width: 58.333333333333336%
}

.col-6 {
    width: 50%
}

.col-5 {
    width: 41.66666666666667%
}

.col-4 {
    width: 33.33333333333333%
}

.col-3 {
    width: 25%
}

.col-2 {
    width: 16.666666666666664%
}

.col-1 {
    width: 8.333333333333332%
}

/**
pull Begin
*/
.pull-to-refresh, .refreshing {
    line-height: 50px;
    text-align: center;
}
/**
pull End
*/
/*
x-loading Begin
*/
.x-loading-spinner {
    font-size: 150%;
    height: 1em;
    width: 1em;
    position: relative;
    -webkit-transform-origin: 0.5em 0.5em;
}

.x-loading-spinner > span, .x-loading-spinner > span:before, .x-loading-spinner > span:after {
    display: block;
    position: absolute;
    width: 0.1em;
    height: 0.25em;
    top: 0;
    -webkit-transform-origin: 0.05em 0.5em;
    -webkit-border-radius: 0.05em;
    border-radius: 0.05em;
    content: " ";
}

.x-loading-spinner > span.x-loading-top {
    background-color: rgba(170, 170, 170, 0.99);
}

.x-loading-spinner > span.x-loading-top::after {
    background-color: rgba(170, 170, 170, 0.9);
}

.x-loading-spinner > span.x-loading-left::before {
    background-color: rgba(170, 170, 170, 0.8);
}

.x-loading-spinner > span.x-loading-left {
    background-color: rgba(170, 170, 170, 0.7);
}

.x-loading-spinner > span.x-loading-left::after {
    background-color: rgba(170, 170, 170, 0.6);
}

.x-loading-spinner > span.x-loading-bottom::before {
    background-color: rgba(170, 170, 170, 0.5);
}

.x-loading-spinner > span.x-loading-bottom {
    background-color: rgba(170, 170, 170, 0.4);
}

.x-loading-spinner > span.x-loading-bottom::after {
    background-color: rgba(170, 170, 170, 0.35);
}

.x-loading-spinner > span.x-loading-right::before {
    background-color: rgba(170, 170, 170, 0.3);
}

.x-loading-spinner > span.x-loading-right {
    background-color: rgba(170, 170, 170, 0.25);
}

.x-loading-spinner > span.x-loading-right::after {
    background-color: rgba(170, 170, 170, 0.2);
}

.x-loading-spinner > span.x-loading-top::before {
    background-color: rgba(170, 170, 170, 0.15);
}

.x-loading-spinner > span {
    left: 50%;
    margin-left: -0.05em;
}

.x-loading-spinner > span.x-loading-top {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}

.x-loading-spinner > span.x-loading-right {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
}

.x-loading-spinner > span.x-loading-bottom {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}

.x-loading-spinner > span.x-loading-left {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
}

.x-loading-spinner > span::before {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
}

.x-loading-spinner > span::after {
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
}

.x-loading-spinner {
    -webkit-animation-name: x-loading-spinner-rotate;
    -webkit-animation-duration: 1.2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes x-loading-spinner-rotate {
    from {
        -webkit-transform: rotate(30deg);
    }
    to {
        -webkit-transform: rotate(330deg);
    }
}

/*
x-loading End
*/